<form method="POST" action="http://localhost:3000/v1/users/delete">
    <input type="text" name="_csrf" value="<%= csrf %>" hidden required>
    <input name="id" type="text" id="id" name="id" value="<%= uid %>" hidden required>
    <button type="submit" class="btn btn-danger">delete</button>
</form>